body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}



#descripcion {
    resize: none;
}
.centrado {
    text-align: center;
    vertical-align: middle;
}
.container {
    background-color: transparent;
}
.rounded-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


.p-footer {
    margin-bottom: 0;
}